/* VARIABLES START */
/* SCSS Variables start */
/* SCSS Variables end */
/* VARIABLES END */
/* GLOBAL START */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p,
strong {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin-inline: auto;
}

.text-center {
    text-align: center;
}

.btn {
    width: 187px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #C9453B;
    color: #fff;
    font-size: 1em;
    transition: 0.1s ease-in;
}

.btn:hover {
    background-color: #bd3a30;
}

.btn:active {
    transform: translateY(0.7px);
}

.section-title {
    font-size: 2.6875em;
    font-weight: 500;
    line-height: 150%;
    color: #000000;
    margin-bottom: 20px;
}

@media (max-width: 500px) {
    .section-title {
        font-size: 2.3em;
    }
}

.section-desc {
    font-size: 1.125em;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.6;
}

.error {
    font-size: 0.9em;
    color: rgb(201, 69, 59);
}

.invalidInput {
    border: 1px solid rgb(241, 49, 49);
}

.topButton {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 15;
    transition: all 0.2s ease-in-out;
}

.topButton svg {
    width: 60px;
    height: 60px;
    transition: all 0.2s ease-in-out;
}

.topButton svg:hover {
    transform: scale(1.05);
}

.topButton svg:hover #top {
    fill: #b3180d;
}

/* GLOBAL END */
/* HEADER START */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    padding-top: 35px;
    z-index: 10;
    transition: 0.3s ease-out;
}

.header__logo {
    font-family: Ribeye;
    font-size: 1.5em;
    line-height: 150%;
    color: #fff;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 50px;
}

.header__link {
    padding: 7px 5px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 500;
    line-height: 150%;
}

.header__button {
    width: 163px;
    min-height: 50px;
}

.hvr-underline-from-left::before {
    background: #C9453B;
}

/* MOBAILE-MENU START */
.mobaile__nav {
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    padding: 120px;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.mobaile__link {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
}

.mobaile__link:hover {
    color: #C9453B;
}

.mobaile__nav.active {
    animation: mobaile 0.2s ease-in-out;
    visibility: visible;
}

/* MOBAILE-MENU-BTN START */
#nav-icon1 {
    display: none;
    width: 50px;
    height: 45px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 10;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 18px;
}

#nav-icon1 span:nth-child(3) {
    top: 36px;
}

#nav-icon1.open span:nth-child(1) {
    top: 18px;
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 18px;
    transform: rotate(-135deg);
}

/* MOBAILE-MENU-BTN END */
/* MOBAILE-MENU END */
@keyframes mobaile {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 968px) {
    .header__list {
        display: none;
    }

    .header__button {
        display: none;
    }

    #nav-icon1 {
        display: block;
    }
}
/* HEADER END */
/* MAIN START */
.hero {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background: url(../images/trevland-bg.jpeg) center no-repeat;
    background-size: cover;
    z-index: -1;
    filter: brightness(75%);
}

.hero__content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 286px;
}

.hero__title {
    font-size: 4.0625em;
    line-height: 120%;
    color: #fff;
    margin-bottom: 30px;
    animation: bounceInDown 1.5s ease-in-out;
}

.hero__desc {
    max-width: 458px;
    color: #fff;
    margin-bottom: 40px;
}

@media (max-width: 1280px) {
    .hero__content {
        padding-top: 250px;
    }

    .hero__title {
        font-size: 3.7em;
    }
}

@media (max-width: 968px) {
    .hero__content {
        width: 80%;
        padding-top: 200px;
    }

    .hero__title {
        font-size: 3.5rem;
    }
}

@media (max-width: 768px) {
    .hero__title {
        font-size: 3em;
    }

    .hero__desc {
        font-size: 1em;
    }

    .hero__button {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .hero__content {
        width: 100%;
        padding-top: 180px;
    }

    .hero__title {
        font-size: 2.6em;
    }

    .hero__button {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .hero__title {
        font-size: 2.4em;
    }
}

.location {
    padding: 150px 0;
}

.location__desc {
    margin-inline: auto;
    max-width: 735px;
    margin-bottom: 50px;
}

.location__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.location__card {
    opacity: 0;
    width: 32%;
    min-height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    animation-duration: 1.1s;
}

.location__card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.location__card.visibility {
    opacity: 1;
}

.location__image {
    display: block;
    width: 100%;
    height: 331px;
    border-radius: 5px;
    margin-bottom: 35px;
}

.location__card-body {
    padding: 0 15px 15px;
}

.location__card-title {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 150%;
    color: #000000;
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
    .location {
        padding: 60px 0;
    }

    .location__image {
        height: 300px;
    }
}

@media (max-width: 968px) {
    .location__list {
        flex-wrap: wrap;
    }

    .location__card {
        width: 47%;
        min-height: 450px;
    }

    .location__card-title {
        font-size: 1.3em;
    }

    .location__card-desc {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .location__list {
        justify-content: center;
    }

    .location__card {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .location__card {
        width: 88%;
    }
}

@media (max-width: 400px) {
    .location__card {
        min-height: 410px;
    }

    .location__image {
        height: 250px;
    }
}

.offers {
    max-width: 1920px;
    margin-inline: auto;
    padding-inline: 15px;
    padding-bottom: 140px;
}

.offers__desc {
    margin-inline: auto;
    max-width: 656px;
    margin-bottom: 60px;
}

.offers__slider {
    margin-bottom: 50px;
}

.offers__card {
    min-height: 334px;
}

.offers__card-image {
    display: block;
    width: 100%;
    min-height: 173px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: 0.2s ease-in-out;
}

.offers__card-image:hover {
    filter: saturate(140%);
}

.offers__card-title {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 150%;
    color: #000000;
    margin-bottom: 8px;
}

.offers__card-country {
    display: flex;
    -moz-column-gap: 84px;
    column-gap: 84px;
    padding-left: 20.88px;
    font-size: 1.25em;
    line-height: 150%;
    color: #000000;
    margin-bottom: 8px;
    position: relative;
}

.offers__card-country::before {
    content: "";
    width: 10.86px;
    height: 15.2px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url(../images/icons/map.svg) center no-repeat;
}

.offers__card-grade {
    position: relative;
}

.offers__card-grade::before {
    content: "";
    position: absolute;
    top: 48%;
    left: -20px;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    background: url(../images/icons/star.svg) center no-repeat;
}

.offers__card-days {
    display: block;
    font-size: 1em;
    line-height: 150%;
    color: #000000;
    opacity: 0.6;
    margin-bottom: 8px;
}

.offers__slider-controlls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
    position: static;
    height: 20px;
    width: 20px;
    background: url(../images/icons/arrows.svg) center no-repeat;
    background-size: 100%;
    transform: translateY(12px);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-next {
    transform: translateY(12px) rotate(180deg);
}

.swiper-pagination {
    max-width: 300px;
    position: static;
}

.swiper-pagination-bullet {
    width: 75px;
    height: 5px;
    border-radius: 10px;
    background-color: #C9453B;
}

@media (max-width: 1024px) {
    .offers {
        padding-bottom: 100px;
    }

    .swiper-pagination {
        max-width: 200px;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }
}

.blog {
    padding-bottom: 140px;
}

.blog__desc {
    margin-inline: auto;
    max-width: 600px;
    margin-bottom: 56px;
}

.blog__content {
    display: flex;
    justify-content: space-between;
}

.blog__main {
    visibility: hidden;
    width: 49%;
}

.blog__list {
    visibility: hidden;
}

.blog__main.visibility {
    visibility: visible;
}

.blog__list.visibility {
    visibility: visible;
}

.blog__image-big {
    display: block;
    margin-bottom: 35px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.blog__image-big:hover {
    filter: saturate(140%);
}

.blog__image-sm {
    display: block;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.blog__image-sm:hover {
    filter: saturate(140%);
}

.blog__card-title {
    font-size: 1.25em;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 10px;
}

.blog__card-desc {
    font-size: 1.125em;
    line-height: 160%;
    opacity: 0.6;
    margin-bottom: 10px;
}

.blog__link {
    font-size: 1.125em;
    color: #000000;
    font-weight: 500;
}

.blog__list {
    width: 49%;
}

.blog__card {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

@media (max-width: 1024px) {
    .blog {
        padding-bottom: 100px;
    }

    .blog__content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .blog__main {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin-bottom: 50px;
    }

    .blog__list {
        width: 85%;
    }
}

@media (max-width: 600px) {
    .blog {
        padding-bottom: 60px;
    }

    .blog__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    .blog__card {
        flex-wrap: wrap;
        width: 48%;
    }

    .blog__card-desc {
        font-size: 1em;
    }
}

@media (max-width: 545px) {
    .blog__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    .blog__card {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .blog__image-sm {
        min-height: 220px;
    }
}
/* MAIN END */
/* FOOTER START */
.footer {
    padding: 70px 0;
    min-height: 348px;
    background-color: rgba(38, 148, 153, 0.0392156863);
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    display: block;
    font-family: Ribeye;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 2px;
    color: #000000;
    margin-bottom: 40px;
}

.footer__contacts-desc {
    font-size: 1em;
    line-height: 160%;
    margin-bottom: 10px;
}

.footer__contacts-gmail {
    display: block;
    font-size: 1em;
    line-height: 160%;
    color: #000000;
    margin-bottom: 20px;
}

.footer__sosial-media {
    display: flex;
    gap: 20px;
}

.footer__sosial-media-link svg {
    transition: 0.15s ease-in-out;
}

.footer__sosial-media-link svg:hover {
    transform: scale(0.9);
}

.footer__nav {
    display: flex;
}

.footer__links {
    display: flex;
    flex-direction: column;
}

.footer__links:not(:last-child) {
    margin-right: 123px;
}

.footer__link {
    font-size: 1em;
    font-weight: 500;
    line-height: 150%;
    color: #000000;
    transition: 0.2s ease-in-out;
}

.footer__link:hover {
    color: #C9453B;
}

.footer__link:not(:last-child) {
    margin-bottom: 20px;
}

.subscribe-form__title {
    font-size: 1.25em;
    margin-bottom: 42px;
}

.subscribe-form__body {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.subscribe-form__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subscribe-form__input {
    width: 195px;
    min-height: 44px;
    padding-left: 20px;
    outline: none;
}

.subscribe-form__input::-moz-placeholder {
    font-weight: 500;
    line-height: 150%;
    color: #000000;
}

.subscribe-form__input::placeholder {
    font-weight: 500;
    line-height: 150%;
    color: #000000;
}

.subscribe-form__button {
    width: 103px;
    height: 44px;
    border-radius: 5px;
    background: rgb(201, 69, 59);
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.subscribe-form__button:hover {
    background-color: rgb(165, 51, 43);
}

.subscribe-form__button:active {
    transform: translateY(0.8px);
}

@media (max-width: 968px) {
    .footer__content {
        flex-wrap: wrap;
        gap: 30px;
    }

    .subscribe-form__input-wrapper {
        width: 100%;
    }

    .subscribe-form__input {
        width: 100%;
    }

    .subscribe-form__button {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .footer__content {
        flex-wrap: wrap;
        gap: 30px;
    }

    .footer__contacts {
        order: -2;
    }

    .subscribe-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: -1;
    }
}

@media (max-width: 504px) {
    .footer__content {
        justify-content: center;
    }

    .footer__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__links:not(:last-child) {
        margin-right: 50px;
    }
}
/* FOOTER END */